<app-header></app-header>
<div class="channel_container">
    <div class="channel_block">
        <div class="general_block">
            <div class="search_block">
                <img src="./assets/img/search.svg" alt="">
                <input type="text" formControlName="search">
            </div>
            <div class="add_button">
                <button routerLink="/addClient">Добавить</button>
            </div>
        </div>
        <div class="channel_item">
            <table>
                <thead>
                    <tr>
                        <th>Логин <i class="fa fa-chevron-down"></i></th>
                        <th>Лицевой счет <i class="fa fa-chevron-down"></i></th>
                        <th>Пароль <i class="fa fa-chevron-down"></i></th>
                        <th>Баланс <i class="fa fa-chevron-down"></i></th>
                        <th>Тариф <i class="fa fa-chevron-down"></i></th>
                        <th>Дата активности <i class="fa fa-chevron-down"></i></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>epgservice.ru</td>
                        <td>Базовый</td>
                        <td>23.08.22</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>epgservice.ru</td>
                        <td>Базовый</td>
                        <td>23.08.22</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>epgservice.ru</td>
                        <td>Базовый</td>
                        <td>23.08.22</td>
                    </tr>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>3</td>
                        <td>epgservice.ru</td>
                        <td>Базовый</td>
                        <td>23.08.22</td>
                    </tr>
                </tbody>
            </table>
            <div class="pagination__block"></div>
        </div>
    </div>
</div>