<div class="authPage_container">
    <div class="authPage_block">
        <div class="auth_text">
            <h1>Вход</h1>
        </div>
        <form [formGroup]="authForm">
            <input type="number" placeholder="Аккаунт ID" formControlName="account_id">
            <input type="password" placeholder="Пароль" formControlName="password">
            <button [disabled]="authForm.invalid" [ngStyle]="{opacity: authForm.invalid ? '0.6' : '1'}" (click)="logIn()">Войти</button>
        </form>
    </div>
</div>

