.channelAdd_container{
    padding: 0 10px;
    .channelAdd_block{
        max-width: 1200px;
        margin: 0 auto;
        .transition_block{
            display: flex;
            align-items: center;
            justify-content: space-between;
            max-width: 400px;
            margin-top: 30px;
            .back_button{
                button{
                    background: #D1D1D1;
                    border-radius: 8px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    color: #202020;
                    width: 200px;
                    height: 45px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    &:active{
                        transform: scale(.9);
                    }
                    
                }
            }
            .save_button{
                button{
                    background: #EA3E2A;
                    border-radius: 8px;
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    color: #ffffff;
                    width: 150px;
                    height: 45px;
                    border: none;
                    outline: none;
                    cursor: pointer;
                    &:active{
                        transform: scale(.9);
                    }
                }
            }
        }
        .title_form{
            margin-top: 40px;
            h1{
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                font-size: 32px;
                color: #000000;
                
            }
        }
        form{
            // max-width: 500px;
            .login{
                display: flex;
                align-items: center;
                gap: 315px;
                border-bottom: 1px solid #A7A7A7;
                margin-top: 20px;
                padding-bottom: 10px; 
                h2{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    color: #000000;
                }
                input{
                    width: 200px;
                    height: 25px;
                                        
                }
            }
            .personalAccount{
                display: flex;
                align-items: center;
                gap: 243px;
                border-bottom: 1px solid #A7A7A7;
                margin-top: 20px;
                padding-bottom: 10px; 
                h2{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    color: #000000;
                }
                input{
                    width: 200px;
                    height: 25px;
                    // margin-bottom: 5px;                
                }
            }
            .password{
                display: flex;
                align-items: center;
                gap: 302px;
                border-bottom: 1px solid #A7A7A7;
                margin-top: 20px;
                padding-bottom: 10px; 
                h2{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    color: #000000;
                }

                input{
                    width: 200px;
                    height: 25px;
                    // margin-bottom: 5px;             
                }
            }
            .tarrif{
                display: flex;
                align-items: center;
                gap: 313px;
                border-bottom: 1px solid #A7A7A7;
                margin-top: 20px;
                padding-bottom: 10px; 
                h2{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    color: #000000;
                }
                select{
                    width: 204px;
                    height: 29px;
                    // margin-bottom: 5px; 
                    cursor: pointer;               
                }
            }
            .balance{
                display: flex;
                align-items: center;
                gap: 304px;
                border-bottom: 1px solid #A7A7A7;
                margin-top: 20px;
                padding-bottom: 10px; 
                h2{
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 20px;
                    color: #000000;
                }
                input{
                    width: 200px;
                    height: 25px;
                    // margin-bottom: 5px;                
                }
            }
           
        
            
        }
       .general_block{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 50px;
        .delet_block{
            button{
                background: #B5B4B4;
                border-radius: 8px;
                width: 130px;
                height: 45px;
                font-family: 'Roboto', sans-serif;
                font-weight: 500;
                font-size: 18px;
                color: #000000;
                border: none;
                outline: none;
                cursor: pointer;
                &:active{
                    transform: scale(.9);
                }
            }
        }
        .send_button{
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 70%;
            gap: 10px;
            button{
                background: #F39387;
                border-radius: 8px;
                font-family : 'Roboto';
                font-weight: 500;
                font-size: 18px;
                color: #FFFFFF;  
                border: none;
                outline: none;
                height: 45px;
                cursor: pointer;
                &:active{
                    transform: scale(.9);
                } 
                &:nth-child(1){
                    width: 350px;
                    
                }             
                &:nth-child(2){
                    width: 300px;
                    
                }             
                &:nth-child(3){
                    width: 100px;
                    background: #EA3E2A;
                }             
            }
        }
       } 
    }
}